<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxFRoIjg9icR8RleMKJuhyXYx7UhdZJ9g</string>
	<key>GCM_SENDER_ID</key>
	<string>505699408054</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.ucalgary.mynotes</string>
	<key>PROJECT_ID</key>
	<string>axeloooo-mynotes-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>axeloooo-mynotes-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505699408054:ios:6e309f492653cb1e922e17</string>
</dict>
</plist>